RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

#RewriteCond %{REQUEST_METHOD} OPTIONS
#RewriteRule ^(.*)$ $1 [R=200,L]

#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
#Header set Access-Control-Allow-Headers "Content-Type, HTTP_AUTHORIZATION"


#Header always set Access-Control-Allow-Headers "append,delete,entries,foreach,get,has,keys,set,values,Authorization"


#Header always set Access-Control-Allow-Origin "*"

#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE,OPTIONS"
#Header set Access-Control-Allow-Headers "Content-Type, Authorization"



#Header set Access-Control-Allow-Origin *
#Header set Access-Control-Allow-Credentials "true"
#Header set Access-Control-Allow-Methods "GET,HEAD,OPTIONS,POST,PUT"
#Header set Access-Control-Allow-Headers "Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers"